body {
	margin:50px 0px; 
	padding:0px;
	text-align:center;
	}
	
#content {
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
<<<<<<< Updated upstream
	}
=======
	font-family: arial, sans-serif;
	font-size: 13px;
	}

h1 {
	font-family: times, serif;
	font-size: 1.385em;
}
>>>>>>> Stashed changes
